
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


#heading {
	padding: 20px;
	height: auto;
	margin-bottom: 10px;
	background: #dddddd;
	border: 1px solid darkGray;
}

#sidebarLeft {
	border: thin solid lightGray;
	padding: 5px;
	width: 250px;
        height: 100%;
        background: #eeeeee;
}

bottomContent {
	padding: 5px;
	border: thin solid lightGray;
	background: #fefeef;
	position: absolute;
	right: 8px;
	left: 230px;
	height: auto;
	top: 90px;
}