<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <h:outputStylesheet name="css/bootstrap.css"></h:outputStylesheet>
        <h:outputScript name="js/bootstrap.js" />

        
    </h:head>
    <body>
        <ui:composition>

            <h:outputLabel  value=" Welcome #{usersEntity.uname}"></h:outputLabel>
            <h:commandLink action="#{userBean.logout()}" value="Logout"></h:commandLink>

        </ui:composition>

    </body>
</html>
