<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    
    <!--Source: JSFSample09Facelets-->
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="/css/default.css"/>
        <h:outputStylesheet name="/css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>
        <!-- Control-Shift x -->
        <ui:debug hotkey="x"
                  rendered="#{initParam['javax.faces.PROJECT_STAGE'] eq 'Development'}" />

        <div id="heading" >
            <ui:insert name="heading">
<!--                <ui:include src="/access/mainAccessLayout/loginHeader.xhtml" />-->
            </ui:insert>
        </div>


        <div>
            <div id="sidebarLeft">
                <ui:insert name="sidebarLeft">
                    <ui:include src="/access/mainAccessLayout/sidebarLeft.xhtml" />
                </ui:insert>
            </div>


            <div id="sideLeftContent" class="left_content">
                <ui:insert name="sideLeftContent">
                    <ui:include src="/access/mainAccessLayout/sideLeftContent.xhtml" />
                </ui:insert>
            </div>
        </div>


        <div id="bottomContent">
            <ui:insert name="bottomContent">
<!--                <ui:include src="/access/mainAccessLayout/bottomContent.xhtml" />-->
            </ui:insert>
        </div>

    </h:body>

</html>
