<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <h:outputStylesheet name="css/bootstrap.css"></h:outputStylesheet>
        <h:outputScript name="js/bootstrap.js" />

        <title>#{pp.indexPageTitle}</title>
    </h:head>

    <h:body>

        <ui:composition template="/template/masterLayout.xhtml">


            <ui:define name="heading">
                <ui:include src="/access/mainAccessLayout/loginHeader.xhtml"></ui:include>
            </ui:define>



        </ui:composition>
    </h:body>
</html>

